{% extends 'base.html.twig' %}

{% block title %}{{'user_new'|trans}}{% endblock %}

{% block content %}

    <div class="flex w-full flex-col items-center justify-start pt-4 min-h-screen forest:bg-[#BAACA0] love:bg-[#FFB3C6]">
        <div class="text-center mb-8">
            <h1 class="text-4xl font-bold text-gray-800 mb-4 love:text-[#FFE5EC] forest:text-white">{{'user_new'|trans}}</h1>
            <a href="{{ path('app_user_index') }}" class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-primaire hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-darkBlue  love:bg-darkLove
 forest:bg-darkBrown">
                <i class="fas fa-arrow-left mr-2"></i> {{'back_to_list'|trans}}
            </a>
        </div>

        {{ include('admin/user/_form.html.twig') }}
    </div>
{% endblock %}
