{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}

<div class="items-center text-center justify-around min-h-screen overflow-auto dark:bg-[#101827]">
    <div>
        <h1 class="text-4xl font-semibold my-2 dark:text-white forest:text-white love:text-[#FFE5EC]">{{'welcome'|trans}} {{ app.user.username }}!</h1>
        <h2 class="dark:text-white forest:text-[#F0E1D4] love:text-[#FFE5EC]">{{'in_brief'|trans}}</h2>
    </div>
    <div class="flex flex-col align-center w-full justify-center px-6 md:flex-row gap-8">
        <div class="border border-gray-300 h-72 w-full my-4 items-center">
            <div class="bg-primaire w-full h-12 flex items-center text-center justify-center forest:bg-darkBrown love:bg-darkLove
" >
                <h3 class="text-white font-bold dark:text-white forest:text-white love:text-[#FFE5EC]">{{'revenue'|trans}}</h3>
            </div>
            <h5 class="italic text-sm text-gray-600 pt-5 py-2 dark:text-white love:text-[#FFE5EC]">{{'global'|trans}}</h5>
            <p class="font-semibold text-5xl py-3 dark:text-white forest:text-white love:text-[#FFE5EC]">{{totalPaiements | number_format(2, ',', ' ') }} €</p>
            <div class="flex justify-around pt-10">
                <div>
                    <h5 class="italic text-sm text-gray-600 py-1 dark:text-white forest:text-white love:text-[#FFE5EC]"> {{'this_month'|trans}}</h5>
                    <div class="flex items-center">
                        {% if totalPaiementsLastMonth > totalPaiementsThisMonth %}<i class="bi bi-caret-down-fill pe-1 text-red-600 text-xl"></i>{% elseif totalPaiementsLastMonth < totalPaiementsThisMonth %}<i class="bi bi-caret-up-fill pe-1 text-green-600 text-xl"></i>{% else %}<span class="pe-1 text-yellow-400 text-lg font-bold">&#8213;</span>{% endif %}
                        <p class="font-semibold text-xl py-1 dark:text-white forest:text-white love:text-[#FFE5EC]">{{totalPaiementsThisMonth | number_format(2, ',', ' ') }} €</p>
                    </div>
                </div>
                <div>
                    <h5 class="italic text-sm text-gray-600 py-1 dark:text-white forest:text-white love:text-[#FFE5EC]"> {{'today'|trans}}</h5>
                    <div class="flex items-center">
                        {% if totalPaiementsYesterday > totalPaiementsToday %}<i class="bi bi-caret-down-fill pe-1 text-red-600 text-xl"></i>{% elseif totalPaiementsYesterday < totalPaiementsToday %}<i class="bi bi-caret-up-fill pe-1 text-green-600 text-xl"></i>{% else %}<span class="pe-1 text-yellow-400 text-lg font-bold">&#8213;</span>
                        {% endif %}
                        <p class="font-semibold text-xl py-1 dark:text-white forest:text-white love:text-[#FFE5EC]">{{totalPaiementsToday | number_format(2, ',', ' ') }} €</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="border border-gray-300 h-72 w-full my-4 flex flex-col overflow-y-scroll">
            <div class="bg-primaire w-full h-12 flex items-center text-center justify-center shrink-0 sticky top-0 forest:bg-darkBrown love:bg-darkLove
">
                <h3 class="text-white font-bold dark:text-white forest:text-white love:text-[#FFE5EC]"> {{'best_products'|trans}}</h3>
            </div>
            <table class="w-11/12 self-center my-2">
                <tbody class="">
                {% for product in bestSellers %}
                    <tr class="border-b">
                        <td class="w-2/4 text-left py-2 dark:text-white forest:text-white love:text-[#FFE5EC]">{{product.nom}}</td>
                        <td class="italic font-extralight w-1/4 text-right py-2 dark:text-white forest:text-white love:text-[#FFE5EC]"> {{'sold'|trans}}: {{product.total_sales}}</td>
                        <td class="italic w-1/4 text-right py-2 dark:text-white forest:text-white">{{(product.prix * product.total_sales)| number_format(2, ',', ' ')}} €</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="flex flex-col mx-6 gap-8 md:flex-row">
        <div class="border border-gray-300 w-full gap-8 h-72 my-4 md:gap-8 ">
            <div class="bg-primaire w-full h-12 flex items-center text-center justify-center forest:bg-darkBrown love:bg-darkLove
">
                <h3 class="text-white font-bold dark:text-white forest:text-white love:text-[#FFE5EC]">{{'my_invoices'|trans}}</h3>
            </div>
            <div class="flex flex-col h-3/4 justify-around">
                <h4 class="text-md font-semibold py-3 dark:text-white forest:text-white love:text-[#FFE5EC]"> {{'unpaid'|trans}}</h4>
                <div class="flex text-center justify-around">
                    <div>
                        <p class="font-semibold text-lg dark:text-white forest:text-white love:text-[#FFE5EC]">{{facturesAttente}}</p>
                        <p class="dark:text-white forest:text-white love:text-[#FFE5EC]">{{'invoices'|trans}}</p>
                    </div>
                    <div>
                        <p class="font-semibold text-lg dark:text-white forest:text-white love:text-[#FFE5EC]">{{facturesAttenteMontant | number_format(2, ',', ' ')}} €</p>
                        <p class="dark:text-white forest:text-white love:text-[#FFE5EC]">{{'amount'|trans}}</p>
                    </div>
                </div>

                <hr class="w-1/2 mt-4 place-self-center">

                <h4 class="text-md font-semibold py-3 dark:text-white forest:text-white love:text-[#FFE5EC]">{{'late'|trans}}</h4>
                <div class="flex text-center justify-around">
                    <div>
                        <p class="font-semibold text-lg dark:text-white forest:text-white love:text-[#FFE5EC]">{{facturesLate}}</p>
                        <p class="dark:text-white forest:text-white love:text-[#FFE5EC]">{{'invoices'|trans}}</p>
                    </div>
                    <div>
                        <p class="font-semibold text-lg dark:text-white forest:text-white love:text-[#FFE5EC]">{{facturesLateMontant | number_format(2, ',', ' ')}} €</p>
                        <p class="dark:text-white forest:text-white love:text-[#FFE5EC]">{{'amount'|trans}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="border border-gray-300 h-72 w-full my-4">
            <div class="bg-primaire w-full h-12 flex items-center text-center justify-center forest:bg-darkBrown love:bg-darkLove
 love:text-[#FFE5EC]">
                <h3 class="text-white font-bold dark:text-white forest:text-white love:text-[#FFE5EC]">{{'my_estimates'|trans}}</h3>
            </div>
            <div class="flex flex-col h-3/4 justify-around">
                <h4 class="text-md font-semibold py-3 dark:text-white forest:text-white love:text-[#FFE5EC]">{{'in_progress'|trans}}</h4>
                <div class="flex text-center justify-around love:text-[#FFE5EC]">
                    <div>
                        <p class="font-semibold text-lg dark:text-white forest:text-white love:text-[#FFE5EC]">{{devisAttente}}</p>
                        <p class="dark:text-white forest:text-white love:text-[#FFE5EC]">{{'estimates'|trans}}</p>
                    </div>
                    <div>
                        <p class="font-semibold text-lg dark:text-white forest:text-white love:text-[#FFE5EC]">{{ devisAttenteMontant | number_format(2, ',', ' ')}} €</p>
                        <p class="dark:text-white forest:text-white love:text-[#FFE5EC]">{{'amount'|trans}}</p>
                    </div>
                </div>

                <hr class="w-1/2 mt-4 place-self-center">
                <h4 class="text-md font-semibold py-3 dark:text-white forest:text-white love:text-[#FFE5EC]"> {{'approved'|trans}}</h4>
                <div class="flex text-center justify-around">
                    <div>
                        <p class="font-semibold text-lg dark:text-white forest:text-white love:text-[#FFE5EC]">{{devisApprouve}}</p>
                        <p class="dark:text-white forest:text-white love:text-[#FFE5EC]"> {{'estimates'|trans}}</p>
                    </div>
                    <div>
                        <p class="font-semibold text-lg dark:text-white forest:text-white love:text-[#FFE5EC]">{{devisApprouveMontant | number_format(2, ',', ' ')}} €</p>
                        <p class="dark:text-white forest:text-white love:text-[#FFE5EC]"> {{'amount'|trans}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="border border-gray-300 h-72 w-full my-4 flex flex-col overflow-y-scroll">
            <div class="bg-primaire w-full h-12 flex items-center text-center justify-center shrink-0 sticky top-0 forest:bg-darkBrown love:bg-[#FB6F92]">
                <h3 class="text-white font-bold dark:text-white forest:text-white love:text-[#FFE5EC]"> {{'my_recent_products'|trans}}</h3>
            </div>
            <table class="w-11/12 self-center my-2">
                <tbody>
                {% for produit in produits %}
                    <tr class="border-b">
                        <td class="w-3/5 text-sm text-left py-2 dark:text-white forest:text-white love:text-[#FFE5EC]">{{produit.nom}}</td>
                        <td class="italic text-sm font-extralight w-2/5 text-right py-2 dark:text-white forest:text-white love:text-[#FFE5EC]">{{ produit.CreatedAt|date('d-m-Y H:i') }}</td>
                    </tr>
                    {%  endfor %}
                    {# <tr class="border-b">
                        <td class="w-3/5 text-sm text-left py-2 dark:text-white">Contrôleur De Moteur</td>
                        <td class="italic text-sm font-extralight w-2/5 text-right py-2 dark:text-white">12/12/23</td>
                    </tr>
                    <tr class="border-b">
                        <td class="w-3/5 text-sm text-left py-2 dark:text-white">Contrôleur De Moteur</td>
                        <td class="italic text-sm font-extralight w-2/5 text-right py-2 dark:text-white">10/12/23</td>
                    </tr>
                    <tr class="border-b">
                        <td class="w-3/5 text-sm text-left py-2 dark:text-white">Contrôleur De Moteur</td>
                        <td class="italic text-sm font-extralight w-2/5 text-right py-2 dark:text-white">10/12/23</td>
                    </tr>
                    <tr class="border-b">
                        <td class="w-3/5 text-sm text-left py-2 dark:text-white">Contrôleur De Moteur</td>
                        <td class="italic text-sm font-extralight w-2/5 text-right py-2 dark:text-white">10/12/23</td>
                    </tr>
                    <tr class="border-b">
                        <td class="w-3/5 text-sm text-left py-2 dark:text-white">Contrôleur De Moteur</td>
                        <td class="italic text-sm font-extralight w-2/5 text-right py-2 dark:text-white">10/12/23</td>
                    </tr>
                    <tr class="border-b">
                        <td class="w-3/5 text-sm text-left py-2 dark:text-white">Contrôleur De Moteur</td>
                        <td class="italic text-sm font-extralight w-2/5 text-right py-2 dark:text-white">09/12/23</td>
                    </tr> #}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}