{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}

<div class="flex flex-col items-center text-center justify-around min-h-screen ml-8 overflow-auto">
    <div>
        <h1 class="text-4xl font-semibold my-2">{{'welcome'|trans}} {{ app.user.username }}!</h1>
        <h2>{{'in_brief'|trans}}</h2>
    </div>
    <div class="flex w-full lg:flex-col ">
        <div class="border border-gray-300 h-72 w-4/5 m-8">
            <div class="bg-lightBlue w-full h-12 flex items-center text-center justify-center dark:bg-red-800">
                <h3 class="text-darkBlue font-bold">{{'revenue'|trans}}</h3>
            </div>
            <h5 class="italic text-sm text-gray-600 pt-5 py-2">{{'global'|trans}}</h5>
            <p class="font-semibold text-5xl py-3">2535,22€</p>
            <div class="flex justify-around pt-10">
                <div>
                    <h5 class="italic text-sm text-gray-600 py-1"> {{'this_month'|trans}}</h5>
                    <div class="flex items-center">
                        <i class="bi bi-caret-down-fill pe-1 text-red-600 text-xl"></i><i class="bi bi-caret-up-fill pe-1 text-green-600 text-xl"></i>
                        <p class="font-semibold text-xl py-1">2535,22€</p>
                    </div>
                </div>
                <div>
                    <h5 class="italic text-sm text-gray-600 py-1"> {{'today'|trans}}</h5>
                    <div class="flex items-center">
                        <i class="bi bi-caret-down-fill pe-1 text-red-600 text-xl"></i><i class="bi bi-caret-up-fill pe-1 text-green-600 text-xl"></i>
                        <p class="font-semibold text-xl py-1">2535,22€</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="border border-gray-300 h-72 w-4/5 m-8 flex flex-col overflow-y-scroll sm:m-0">
            <div class="bg-lightBlue w-full h-12 flex items-center text-center justify-center shrink-0 sticky top-0">
                <h3 class="text-darkBlue font-bold"> {{'best_products'|trans}}</h3>
            </div>
            <table class="w-11/12 self-center my-2">
                <tbody class="">
                    <tr class="border-b">
                        <td class="w-3/5 text-left py-2">Contrôleur De Moteur CC Simple</td>
                        <td class="italic font-extralight w-1/5 text-right py-2"> {{'sold'|trans}}: 32</td>
                        <td class="italic w-1/5 text-right py-2">350,00€</td>
                    </tr>
                    <tr class="border-b">
                        <td class="w-3/5 text-left py-2">Contrôleur De Moteur CC Simple</td>
                        <td class="italic font-extralight w-1/5 text-right py-2"> {{'sold'|trans}}: 32</td>
                        <td class="italic w-1/5 text-right py-2">350,00€</td>
                    </tr>
                    <tr class="border-b">
                        <td class="w-3/5 text-left py-2">Contrôleur De Moteur CC Simple</td>
                        <td class="italic font-extralight w-1/5 text-right py-2"> {{'sold'|trans}}: 32</td>
                        <td class="italic w-1/5 text-right py-2">350,00€</td>
                    </tr>
                    <tr class="border-b">
                        <td class="w-3/5 text-left py-2">Contrôleur De Moteur CC Simple</td>
                        <td class="italic font-extralight w-1/5 text-right py-2"> {{'sold'|trans}}: 32</td>
                        <td class="italic w-1/5 text-right py-2">350,00€</td>
                    </tr>
                    <tr class="border-b">
                        <td class="w-3/5 text-left py-2">Contrôleur De Moteur CC Simple</td>
                        <td class="italic font-extralight w-1/5 text-right py-2"> {{'sold'|trans}}: 32</td>
                        <td class="italic w-1/5 text-right py-2">350,00€</td>
                    </tr>
                    <tr class="border-b">
                        <td class="w-3/5 text-left py-2">Contrôleur De Moteur CC Simple</td>
                        <td class="italic font-extralight w-1/5 text-right py-2"> {{'sold'|trans}}: 32</td>
                        <td class="italic w-1/5 text-right py-2">350,00€</td>
                    </tr>
                    <tr class="border-b">
                        <td class="w-3/5 text-left py-2">Contrôleur De Moteur CC Simple</td>
                        <td class="italic font-extralight w-1/5 text-right py-2"> {{'sold'|trans}}: 32</td>
                        <td class="italic w-1/5 text-right py-2">350,00€</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
     <div class="flex w-full lg:flex-col">
        <div class="border border-gray-300 h-72 w-4/5 m-8">
            <div class="bg-lightBlue w-full h-12 flex items-center text-center justify-center">
                <h3 class="text-darkBlue font-bold">{{'my_invoices'|trans}}</h3>
            </div>
            <div class="flex flex-col h-3/4 justify-around">
                <h4 class="text-md font-semibold py-3"> {{'unpaid'|trans}}</h4>
                <div class="flex text-center justify-around">
                    <div>
                        <p class="font-semibold text-lg">1</p>
                        <p>{{'invoices'|trans}}</p>
                    </div>
                    <div>
                        <p class="font-semibold text-lg">65,19€</p>
                        <p>{{'amount'|trans}}</p>
                    </div>
                </div>

                <hr class="w-1/2 mt-4 place-self-center">

                <h4 class="text-md font-semibold py-3">{{'late'|trans}}</h4>
                <div class="flex text-center justify-around">
                    <div>
                        <p class="font-semibold text-lg">0</p>
                        <p>{{'invoices'|trans}}</p>
                    </div>
                    <div>
                        <p class="font-semibold text-lg">00,00€</p>
                        <p>{{'amount'|trans}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="border border-gray-300 h-72 w-4/5 m-8">
            <div class="bg-lightBlue w-full h-12 flex items-center text-center justify-center">
                <h3 class="text-darkBlue font-bold">{{'my_estimates'|trans}}</h3>
            </div>
            <div class="flex flex-col h-3/4 justify-around">
                <h4 class="text-md font-semibold py-3">{{'in_progress'|trans}}</h4>
                <div class="flex text-center justify-around">
                    <div>
                        <p class="font-semibold text-lg">1</p>
                        <p>{{'invoices'|trans}}</p>
                    </div>
                    <div>
                        <p class="font-semibold text-lg">65,19€</p>
                        <p> {{'amount'|trans}}</p>
                    </div>
                </div>

                <hr class="w-1/2 mt-4 place-self-center">

                <h4 class="text-md font-semibold py-3"> {{'expired'|trans}}</h4>
                <div class="flex text-center justify-around">
                    <div>
                        <p class="font-semibold text-lg">0</p>
                        <p> {{'invoices'|trans}}</p>
                    </div>
                    <div>
                        <p class="font-semibold text-lg">00,00€</p>
                        <p> {{'amount'|trans}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="border border-gray-300 h-72 w-4/5 m-8 flex flex-col overflow-y-scroll">
            <div class="bg-lightBlue w-full h-12 flex items-center text-center justify-center shrink-0 sticky top-0">
                <h3 class="text-darkBlue font-bold"> {{'my_recent_products'|trans}}</h3>
            </div>
            <table class="w-11/12 self-center my-2">
                <tbody class="">
                    <tr class="border-b">
                        <td class="w-3/5 text-sm text-left py-2">Contrôleur De Moteur</td>
                        <td class="italic text-sm font-extralight w-2/5 text-right py-2">15h32</td>
                    </tr>
                    <tr class="border-b">
                        <td class="w-3/5 text-sm text-left py-2">Contrôleur De Moteur</td>
                        <td class="italic text-sm font-extralight w-2/5 text-right py-2">12/12/23</td>
                    </tr>
                    <tr class="border-b">
                        <td class="w-3/5 text-sm text-left py-2">Contrôleur De Moteur</td>
                        <td class="italic text-sm font-extralight w-2/5 text-right py-2">10/12/23</td>
                    </tr>
                    <tr class="border-b">
                        <td class="w-3/5 text-sm text-left py-2">Contrôleur De Moteur</td>
                        <td class="italic text-sm font-extralight w-2/5 text-right py-2">10/12/23</td>
                    </tr>
                    <tr class="border-b">
                        <td class="w-3/5 text-sm text-left py-2">Contrôleur De Moteur</td>
                        <td class="italic text-sm font-extralight w-2/5 text-right py-2">10/12/23</td>
                    </tr>
                    <tr class="border-b">
                        <td class="w-3/5 text-sm text-left py-2">Contrôleur De Moteur</td>
                        <td class="italic text-sm font-extralight w-2/5 text-right py-2">10/12/23</td>
                    </tr>
                    <tr class="border-b">
                        <td class="w-3/5 text-sm text-left py-2">Contrôleur De Moteur</td>
                        <td class="italic text-sm font-extralight w-2/5 text-right py-2">09/12/23</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}