<h1>{{'hello'|trans}}</h1>

<p>{{'reset_message'|trans}}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{{'link_expiration','%token%': resetToken (resetToken, 'ResetPasswordBundle')}}.</p>

<p>{{'sincerely'|trans}}</p>
