{{ form_start(form, {'attr': {'class': 'flex flex-col items-center justify-start min-h-screen'}}) }}

<div class="w-full max-w-md mx-auto">
    {{ form_errors(form) }}

    <div class="mb-4">
        {{ form_label(form.numero) }}
        {{ form_widget(form.numero, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.dateCreation, 'created_on'|trans) }}
        {{ form_widget(form.dateCreation, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.status, 'status'|trans) }}
        {{ form_widget(form.status, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.total) }}
        {{ form_widget(form.total, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.CreatedAt) }}
        {{ form_widget(form.CreatedAt, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.clientId, 'Client') }}
        {{ form_widget(form.clientId, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.detailDevisId, 'estimate_details'|trans) }}
        {{ form_widget(form.detailDevisId, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="flex items-center justify-center">
        <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">
            {{ button_label|default('add'|trans) }}
        </button>
    </div>
</div>

{{ form_end(form) }}
