{% block body %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title> {{ devis.numero }} </title>
    <style>
        body {
            font-family: 'Helvetica', 'Arial', sans-serif;
            color: #333;
        }

        .header,
        .info-section,
        .totals-table {
            width: 100%;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
        }

        .header img {
            height: 50px;
        }

        .header h1 {
            margin: 0;
        }

        .info-section {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 24px;
        }

        .info-block {
            width: 48%;
            /* S'assure que chaque bloc n'utilise que 48% de l'espace disponible, laissant de la place pour les marges */
            box-sizing: border-box;
            /* Inclut le padding et la bordure dans la largeur et la hauteur du bloc */
        }

        .info-block h3 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 8px;
        }

        .info-block p {
            margin: 2px 0;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 24px;
        }

        .table th,
        .table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #f8f8f8;
            font-weight: bold;
        }

        .totals-table {
            margin-top: 24px;
        }

        .totals-table td {
            padding: 8px;
            text-align: right;
        }

        .totals-table .label {
            font-weight: bold;
        }

        .totals-table .value {
            font-size: 18px;
            font-weight: bold;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
        }


        .header-content {
            text-align: right;
            flex-grow: 1;
        }

        @media (max-width: 700px) {
            .info-block {
                width: 100%;
                /* Les blocs prennent toute la largeur pour un affichage en colonne sur les petits écrans */
            }
        }
    </style>
</head>

<body>

    <div class="header">
        <div>
            {% if logoHwh is defined %}
            <img src="{{ logoHwh }}" />
            {% else %}
            <img src="#" />
            {% endif %}
        </div>

        <div class="header-content">
            <h1>N°Devis : {{ devis.numero }}</h1>
            <h3>Date de création : {{ devis.dateCreation|date('d/m/Y') }}</h3>
            <h3>Date d'expiration : {{ devis.dateCreation|date_modify('+30 days')|date('d/m/Y') }}</h3> {# à changer #}
        </div>
    </div>


    <div class="info-section">
        <div class="info-block">
            <h3>Entreprise : {{ entreprise.nom }}</h3>
            <p>{{ entreprise.adresse }}</p>
            <p>{{ entreprise.codepostal }} {{ entreprise.ville }} </p>
            <p>{{ entreprise.email }}</p>
            <p>Téléphone : {{ entreprise.telephone }}</p>
        </div>
        <div class="info-block">
            {% if client is defined %}
            <h3>Client : {{ client.nom }}</h3>
            <p>{{ client.adresse }}</p>
            <p>{{ client.codepostal }} {{ client.ville }} </p>
            <p>Téléphone : {{ client.telephone }}</p>
            <p>Mail : {{ client.email }}</p>
            {% else %}
            <p>test</p>
            {% endif %}

        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>QTE</th>
                <th>Prix HT</th>
                <th>Montant TVA (20%)</th>
            </tr>
        </thead>
        <tbody>
            {% set tauxTVA = 0.20 %}
            {% set sousTotalHT = 0 %}
            {% set totalTVA = 0 %}
            {% for detail in devis.getDetailDevis %}
            {% set prixHT = detail.getPrix() %}
            {% set montantTVA = prixHT * tauxTVA %}
            <tr>
                <td>{{ detail.getProduit().getNom() }}</td>
                <td>{{ detail.getQuantite() }}</td>
                <td>{{ prixHT }}€</td>
                <td>{{ montantTVA }}€</td>
            </tr>
            {% set sousTotalHT = sousTotalHT + prixHT %}
            {% set totalTVA = totalTVA + montantTVA %}
            {% endfor %}
            {% set totalTTC = sousTotalHT + totalTVA %}
        </tbody>
    </table>

    <table class="totals-table">
        <tr>
            <td class="label">Sous-total HT</td>
            <td class="value">{{ sousTotalHT }}€</td>
        </tr>
        <tr>
            <td class="label">Total TVA (20%)</td>
            <td class="value">{{ totalTVA }}€</td>
        </tr>
        <tr>
            <td class="label">Total TTC</td>
            <td class="value">{{ totalTTC }}€</td>
        </tr>
    </table>


</body>

</html>

{% endblock %}