{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}

{% include 'component/sidebar.html.twig' %}

<div class="container mx-auto my-8">
    <div class="text-center mb-8">
        <h1 class="text-3xl font-bold text-gray-800 mb-4">{{'estimate_details'|trans}}</h1>
    </div>

    <div class="max-w-2xl mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <table class="w-full text-sm text-left text-gray-500">
            <tbody class="bg-white divide-y divide-gray-200">
            <tr>
                <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{'number'|trans}}</th>
                <td class="px-6 py-4">{{ devi.numero }}</td>
            </tr>
            {# <tr>
                <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{'created_on'|trans}}</th>
                <td class="px-6 py-4">{{ devi.dateCreation ? devi.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
            {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{ 'the_company'|trans }}</th>
                    <td class="px-6 py-4">{{ devi.entrepriseId.nom }}</td>
                </tr>
            {% endif %}
            <tr>
                <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{'custumer'|trans}}</th>
                <td class="px-6 py-4">{{ devi.clientId.nom }}</td>
            </tr>
            <tr>
                <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{'status'|trans}}</th>
                <td class="px-6 py-4">{{ devi.status }}</td>
            </tr>
            <tr>
                <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{'total'|trans}}</th>
                <td class="px-6 py-4">{{ devi.total }}</td>
            </tr>
            <tr>
                <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{'total_ttc'|trans}}</th>
                <td class="px-6 py-4">{{ devi.totalTTC }}</td>
            </tr>

            <tr>
                <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{ 'created_at'|trans }}</th>
                <td class="px-6 py-4">{{ devi.CreatedAt ? devi.CreatedAt|date('Y-m-d H:i') : '' }}</td>
            </tr>            
            </tbody>
        </table>
    </div>

    <div class="flex justify-center">
        <div class="flex-1 px-2">
            <a href="{{ path('app_devis_index') }}" class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-blue-500 hover:bg-blue-700">
                <i class="fas fa-arrow-left mr-2"></i> {{'back_to_list'|trans}}
            </a>
        </div>
        {% if devi.status != 'Approuvé' %}
            <div class="flex-1">
                {{ include('devis/_confirm_form.html.twig', {'devi': devi}) }}
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}
