{{ form_start(form, {'attr': {'class': 'flex flex-col items-center justify-start'}}) }}

<div class="w-full max-w-md mx-auto">
    {{ form_errors(form) }}

    <div class="mb-4">
        {{ form_label(form.nom, 'name'|trans) }}
        {{ form_widget(form.nom, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.adresse, 'address'|trans) }}
        {{ form_widget(form.adresse, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.codePostal, 'postcode'|trans) }}
        {{ form_widget(form.codePostal, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.ville, 'city'|trans) }}
        {{ form_widget(form.ville, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.email, 'email'|trans) }}
        {{ form_widget(form.email, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.telephone, 'phone'|trans) }}
        {{ form_widget(form.telephone, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.siteWeb, 'Site web') }}
        {{ form_widget(form.siteWeb, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.description, 'description'|trans) }}
        {{ form_widget(form.description, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.siren, 'siren'|trans) }}
        {{ form_widget(form.siren, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.logo) }}
        {{ form_widget(form.logo, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>


    <div class="flex items-center justify-center">
        <button
            class="bg-darkBlue hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline forest:bg-darkBrown love:bg-darkLove
"
            type="submit">
            {{ button_label|default('Save') }}
        </button>
    </div>
</div>

{{ form_end(form) }}
