{% extends 'base.html.twig' %}

{% block title %}{{'companies'|trans}}{% endblock %}

{% block content %}
    <div class="container mx-auto my-8 flex-grow p-6">
    <h1 class="dark:text-white">{{'companies'|trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'name'|trans}}</th>
                <th>{{'address'|trans}}</th>
                <th>{{'description'|trans}}</th>
                <th>{{'tax_info'|trans}}</th>
                <th>{{'createdon'|trans}}</th>
                <th>{{'actions'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.id }}</td>
                <td>{{ entreprise.nom }}</td>
                <td>{{ entreprise.adresse }}</td>
                <td>{{ entreprise.description }}</td>
                <td>{{ entreprise.informationFiscale }}</td>
                <td>{{ entreprise.CreatedAt ? entreprise.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_entreprise_show', {'id': entreprise.id}) }}">{{'show'|trans}}</a>
                    <a href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}">{{'edit'|trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{'no_records'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_entreprise_new') }}">{{'company_new'|trans}}</a>
    </div>
{% endblock %}
