{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}

{% include 'component/sidebar.html.twig' %}

<div class="w-full dark:bg-[#101827] forest:bg-[#BAACA0]">
    <div class="text-center mb-8 mt-8">
        <h1 class="text-3xl font-bold text-gray-800 mb-4 dark:text-white forest:text-white">Détails de mon entreprise</h1>
    </div>
    <div class="max-w-2xl mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 forest:bg-[#BAACA0]">
        <table class="w-full text-sm text-left text-gray-500 ">
            <tbody class="bg-white divide-y divide-gray-200 forest:bg-[#BAACA0]">
                <tr>
                    {% if entreprise.logo %}
                    <div class="text-center mb-4">
                        <img src="{{ vich_uploader_asset(entreprise.logo, 'imageFile') }}" alt="Logo de l'entreprise"
                            class="mx-auto" style="max-width: 200px; height: auto;">
                    </div>
                    {% endif %}
                </tr>
                <tr>
                    <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap forest:text-white">{{'name'|trans}}</th>
                    <td class="px-6 py-4 forest:text-white">{{ entreprise.nom }}</td>
                </tr>
                <tr>
                    <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap forest:text-white">{{'address'|trans}}</th>
                    <td class="px-6 py-4 forest:text-white">{{ entreprise.adresse }}</td>
                </tr>
                <tr>
                    <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap forest:text-white">{{'postcode'|trans}}</th>
                    <td class="px-6 py-4 forest:text-white">{{ entreprise.codePostal }}</td>
                </tr>
                <tr>
                    <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap forest:text-white">{{'city'|trans}}</th>
                    <td class="px-6 py-4 forest:text-white">{{ entreprise.ville }}</td>
                </tr>
                <tr>
                    <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap forest:text-white">{{'description'|trans}}</th>
                    <td class="px-6 py-4 forest:text-white">{{ entreprise.description }}</td>
                </tr>
                <tr>
                    <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap forest:text-white">{{'tax_info'|trans}}</th>
                    <td class="px-6 py-4 forest:text-white">{{ entreprise.informationFiscale }}</td>
                </tr>
                <tr>
                    <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap forest:text-white">{{'siren'|trans}}</th>
                    <td class="px-6 py-4 forest:text-white">{{ entreprise.siren }}</td>
                </tr>
                <tr>
                    <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap forest:text-white">{{'email'|trans}}</th>
                    <td class="px-6 py-4 forest:text-white">{{ entreprise.email }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <a href="{{ path('app_my_entreprise_edit') }}"
            class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-blue-500 hover:bg-blue-700 forest:bg-[#786759]">
            <i class="fas fa-edit mr-2"></i>{{'company_edit'|trans}}
        </a>
    </div>
</div>
{% endblock %}