{{ form_start(form, {'attr': {'class': 'flex flex-col items-center justify-start pt-20 min-h-screen'}}) }}

<div class="w-full max-w-md mx-auto">
    {{ form_errors(form) }}

    <div class="mb-4">
        {{ form_label(form.nom, 'name'|trans) }}
        {{ form_widget(form.nom, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3
        text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
        {{ form_errors(form.nom) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.description, 'description'|trans) }}
        {{ form_widget(form.description, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3
        text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
        {{ form_errors(form.description) }}
    </div>
    
    {% if is_granted('ROLE_ADMIN') %}
        <div class="mb-4">
            {{ form_label(form.entrepriseId) }}
            {{ form_widget(form.entrepriseId, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
        </div>
    {% endif %}

    <div class="mb-4">
        {{ form_label(form.prix, 'price'|trans) }}
        {{ form_widget(form.prix, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3
        text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
        {{ form_errors(form.prix) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.stock, 'stock'|trans) }}
        {{ form_widget(form.stock, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
        {{ form_errors(form.stock) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.categorieId, 'Catégorie du produit') }}
        {{ form_widget(form.categorieId, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
        {{ form_errors(form.categorieId) }}
    </div>

    <div class="flex items-center justify-center">
        <button
            class="bg-darkBlue hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline love:bg-darkLove
 forest:bg-darkBrown"
            type="submit">
            {{ button_label|default('save'|trans) }}
        </button>
    </div>
</div>

{{ form_end(form) }}