{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block content %}
<div class="container mx-auto my-8">
    <div class="flex justify-between items-center">
        <h1 class="text-2xl font-semibold text-gray-700">Liste des produits</h1>
        <a href="{{ path('app_produit_new') }}"
           class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700">
            <i class="fas fa-plus mr-2"></i> Ajouter un nouveau produit
        </a>
    </div>

    <div class="overflow-x-auto relative shadow-md sm:rounded-lg mt-6">
        <table id="produitTable" class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">Nom</th>
                    <th scope="col" class="py-3 px-6">Description</th>
                    <th scope="col" class="py-3 px-6">Prix</th>
                    <th scope="col" class="py-3 px-6">Stock</th>
                    <th scope="col" class="py-3 px-6">Date de création</th>
                    <th scope="col" class="py-3 px-6">Actions</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                {% for produit in produits %}
                <tr class="hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="py-4 px-6">{{ produit.nom }}</td>
                    <td class="py-4 px-6">{{ produit.description }}</td>
                    <td class="py-4 px-6">{{ produit.prix }}€</td>
                    <td class="py-4 px-6">{{ produit.stock }}</td>
                    <td class="py-4 px-6">{{ produit.CreatedAt ? produit.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td class="py-4 px-6">
                        <div class="flex items-center justify-center">
                            <a href="{{ path('app_produit_show', {'id': produit.id}) }}"
                               class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="{{ path('app_produit_edit', {'id': produit.id}) }}"
                               class="font-medium text-green-600 dark:text-green-500 hover:underline ml-4">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <div class="ml-4">
                                {{ include('produit/_delete_form.html.twig', {'produit': produit}) }}
                            </div>
                        </div>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="7" class="py-4 px-6 text-center">Aucun produit trouvé</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% for message in app.session.flashbag.get('danger') %}
        <div class="alert alert-danger">
            <p>Message flash: {{ message }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="{{ asset('js/produitDatatable.js', 'local') }}"> </script>

{% endblock %}
