{{ form_start(form, {'attr': {'class': 'flex flex-col items-center justify-start pt-20 min-h-screen'}}) }}

<div class="w-full max-w-md mx-auto"> {{ form_errors(form) }}

    <div class="mb-4">
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3
        text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.adresse) }}
        {{ form_widget(form.adresse, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3
        text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3
        text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.telephone) }}
        {{ form_widget(form.telephone, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3
        text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.CreatedAt) }}
        {{ form_widget(form.CreatedAt, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3
        text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.entrepriseId) }}
        {{ form_widget(form.entrepriseId, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3
        text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <div class="flex items-center justify-center">
        <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">
            {{ button_label|default('Save') }}
        </button>
    </div>
</div>

{{ form_end(form) }}