{% extends 'base.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block content %}
    <h1>Liste des clients</h1>

    <table id="clientTable" class="dataTable display compact mb-2">
        <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">Nom</th>
                <th scope="col">Adresse</th>
                <th scope="col">Email</th>
                <th scope="col">Telephone</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.nom }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.telephone }}</td>
                <td>
                    <a href="{{ path('app_client_show', {'id': client.id}) }}">Afficher</a>
                    <a href="{{ path('app_client_edit', {'id': client.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun client trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_client_new') }}">Ajouter un nouveau client</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/clientDatatable.js', 'local')}}"> </script>

{% endblock %}