{% extends 'base.html.twig' %}

{% block title %}{{'categories'|trans}}{% endblock %}

{% block content %}
    <h1>{{'categories'|trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'name'|trans}}</th>
                <th>{{'description'|trans}}</th>
                <th>{{'createdat'|trans}}</th>
                <th>{{'actions'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.nom }}</td>
                <td>{{ categorie.description }}</td>
                <td>{{ categorie.CreatedAt ? categorie.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}">{{'show'|trans}}</a>
                    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">{{'edit'|trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{'no_records'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_new') }}">{{'new_category'|trans}}</a>
    {% for message in app.session.flashbag.get('danger') %}
        <div class="alert alert-danger">
            <p>Message flash: {{ message }}</p>
        </div>
    {% endfor %}
{% endblock %}
