{% extends 'base.html.twig' %}

{% block title %}{{'invoice_list'|trans}}{% endblock %}

{% block content %}
<div class="container mx-auto my-14 p-6">
    <div class="flex justify-between items-center">
        <h1 class="text-2xl font-semibold text-gray-700 dark:text-white forest:text-white love:text-[#FFE5EC]">{{'invoice_list'|trans}}</h1>
    </div>
    <div class="overflow-x-auto relative sm:rounded-lg mt-6">
        <table id="factureTable" class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6 forest:bg-[#786759] forest:text-white love:bg-[#FB6F92] love:text-[#FFE5EC]">{{'number'|trans}}</th>
                    <th scope="col" class="py-3 px-6 forest:bg-[#786759] forest:text-white love:bg-[#FB6F92] love:text-[#FFE5EC]">{{'created_on'|trans}}</th>
                    <th scope="col" class="py-3 px-6 forest:bg-[#786759] forest:text-white love:bg-[#FB6F92] love:text-[#FFE5EC]">{{'duedate'|trans}}</th>
                    <th scope="col" class="py-3 px-6 forest:bg-[#786759] forest:text-white love:bg-[#FB6F92] love:text-[#FFE5EC]">{{'status'|trans}}</th>
                    <th scope="col" class="py-3 px-6 forest:bg-[#786759] forest:text-white love:bg-[#FB6F92] love:text-[#FFE5EC]">{{'total'|trans}}</th>
                    <th scope="col" class="py-3 px-6 forest:bg-[#786759] forest:text-white love:bg-[#FB6F92] love:text-[#FFE5EC]">{{'total_ttc'|trans}}</th>
                    <th scope="col" class="py-3 px-6 forest:bg-[#786759] forest:text-white love:bg-[#FB6F92] love:text-[#FFE5EC]">{{'actions'|trans}}</th>
                </tr>
                <tr class="forest:bg-[#786759] love:bg-[#FB6F92]">
                    <th><input type="text" placeholder="Numéro de facture..." class="form-control form-control-sm" /></th>
                    <th><input type="text" placeholder="Date de création..." class="form-control form-control-sm" /></th>
                    <th><input type="text" placeholder="Date de paiement due..." class="form-control form-control-sm" /></th>
                    <th><input type="text" placeholder="Statut..." class="form-control form-control-sm" /></th>
                    <th><input type="text" placeholder="Total..." class="form-control form-control-sm" /></th>
                    <th><input type="text" placeholder="Total TTC..." class="form-control form-control-sm" /></th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-">
                {% for facture in factures %}
                <tr class="hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="py-4 px-6">{{ facture.numero }}</td>
                    <td class="py-4 px-6">{{ facture.dateFacturation ? facture.dateFacturation|date('Y-m-d H:i:s') : ''
                        }}</td>
                    <td class="py-4 px-6">{{ facture.datePaiementDue ? facture.datePaiementDue|date('Y-m-d H:i:s') : ''
                        }}</td>
                    <td class="py-4 px-6">{{ facture.statutPaiement }}</td>
                    <td class="py-4 px-6">{{ facture.total }}€</td>
                    <td class="py-4 px-6">{{ facture.devi.totalTTC }}€</td>
                    <td class="py-4 px-6">
                        <div class="flex items-center justify-around">
                            <form action="{{ path('app_facture_envoies', {'id': facture.id}) }}" method="post" class="bg-yellow pr-4">
                                <button type="submit" class="font-medium text-yellow dark:text-yellow hover:underline">
                                    <i class="bi bi-send-fill"></i>
                                </button>
                            </form>
                            <a href="{{ path('app_facture_pdf', {'id': facture.id}) }}"
                               class="font-medium text-red-600 dark:text-red-500 hover:underline mr-4">
                                <i class="bi bi-file-earmark-arrow-down-fill"></i>
                            </a>
                            <a href="{{ path('app_facture_show', {'id': facture.id}) }}"
                                class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="py-4 px-6 text-center">{{'no_client'|trans}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% for message in app.session.flashbag.get('danger') %}
        <div class="relative w-full p-4 mt-2 text-white rounded-lg bg-gray-900">
            <p class="text-center">{{ message }}</p>
        </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('succes') %}
        <div class="relative w-full p-4 mt-2 text-white rounded-lg bg-gray-900">
            <p class="text-center">{{ message }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="{{ asset('js/factureDatatable.js', 'local') }}"> </script>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/facture.css', 'local') }}">
{% endblock %}