{% extends 'base.html.twig' %}

{% block title %}Facture index{% endblock %}

{% block content %}
    <h1>Facture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>DateFacturation</th>
                <th>DatePaiementDue</th>
                <th>StatutPaiement</th>
                <th>Total</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.id }}</td>
                <td>{{ facture.numero }}</td>
                <td>{{ facture.dateFacturation ? facture.dateFacturation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ facture.datePaiementDue ? facture.datePaiementDue|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ facture.statutPaiement }}</td>
                <td>{{ facture.total }}</td>
                <td>{{ facture.CreatedAt ? facture.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_facture_show', {'id': facture.id}) }}">show</a>
                    <a href="{{ path('app_facture_edit', {'id': facture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_facture_new') }}">Create new</a>
{% endblock %}
