{% extends 'base.html.twig' %}

{% block title %}Modification de mon Employé{% endblock %}

{% block content %}

    <div class="flex flex-col items-center justify-start pt-4 min-h-screen">
        <div class="text-center mb-8">
            <h1 class="text-4xl font-bold text-gray-800 mb-4">{{'my_user_edit'|trans}}</h1>
            <a href="{{ path('app_my_user_index') }}" class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-darkBlue hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-darkBlue">
                <i class="fas fa-arrow-left mr-2"></i> {{'back_to_list'|trans}}
            </a>
        </div>

        {{ include('user/_edit_form.html.twig', {'button_label': 'Modifier'}) }}

        <div class="mt-4">
            {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
