{% extends 'base.html.twig' %}

{% block title %}Employé{% endblock %}

{% block body %}

{% include 'component/sidebar.html.twig' %}

    <div class="container mx-auto my-8">
        <div class="text-center mb-8">
            <h1 class="text-3xl font-bold text-gray-800 mb-4">{{'my_user_details'|trans}}</h1>
        </div>

        <div class="max-w-2xl mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <table class="w-full text-sm text-left text-gray-500">
                <tbody class="bg-white divide-y divide-gray-200">
                    <tr>
                        <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{'rules'|trans}}</th>
                        <td class="px-6 py-4">
                            {% set isUser = false %}
                            {% set isComptable = false %}

                            {% for role in user.roles %}
                                {% if role == 'ROLE_USER' %}
                                    {% set isUser = true %}
                                {% elseif role == 'ROLE_COMPTABLE' %}
                                    {% set isComptable = true %}
                                {% endif %}
                            {% endfor %}

                            {% if isUser and isComptable %}
                                Comptable
                            {% else %}
                                Utilisateur
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{'name'|trans}}</th>
                        <td class="px-6 py-4">{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{'email'|trans}}</th>
                        <td class="px-6 py-4">{{ user.mail  }}</td>
                    </tr>
                    <tr>
                        <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{'company_name'|trans}}</th>
                        <td class="px-6 py-4">{{ user.entreprise  }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <a href="{{ path('app_my_user_index') }}" class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-blue-500 hover:bg-blue-700">
                <i class="fas fa-arrow-left mr-2"></i> {{'back_to_list'|trans}}
            </a>
        </div>
    </div>
{% endblock %}

